# SkyOS init configuration
# syntax:
#   mount <source> <target> <fstype>
#   service <path> [max_restarts]
#   login <tty> <shell>

# Mount filesystems from /etc/fstab
fstab

# Device manager
service /bin/vahid 3

# Display server (GUI desktop)
service /bin/sarga-disp 3

# Login shell on main console
login /dev/tty0 /bin/sargash
